/* Layout */

/* Main Header */
#main-header {
    background-color: #212529;
}

#main-header img {
    width: 50px;
}

#main-header .form-control {
    background-color: #FFF;
}

#main-header ::placeholder {
    color: #777;
}

/* Main */

/* Table */
table .text-bg-warning {
    color: #FFF !important;
}

th:last-child,
td:last-child {
    text-align: center;
}