/* Utilities */
main [class^="col"] {
    border: 2px dashed orangered;
}

/* Layout */

/* Main Header */
#main-header {
    background-color: #212529;
}

#main-header img {
    width: 50px;
}

#main-header .form-control {
    background-color: #FFF;
}

#main-header ::placeholder {
    color: #777;
}